--- # Note that autoMEGA will exit if the file is not valid YAML.
  address: "person@example.com" # Depends on sendmail configuration
  hook: "https://hooks.slack.com/services/INSERT/WEBHOOK/HERE" # Obtain link from slack integration
  maxThreads: 24 # If undefined, autoMEGA will attempt to determine number of threads available, and use that instead
  keepAll: false # If true, then *.sim.gz files are saved. Otherwise they are deleted to save storage space

  revanSettings: "~/revan.cfg" # Revan settings file. If not present, this is the default

  geomega: # Optional, comment out or remove entire block if you wish to remove.
    filename: "../Geometry/AMEGO_4x4TowerModel/AmegoBase.geo.setup" # Base filename is required if geomega section is present. Otherwise a parser error will be thrown
    parameters: # Optional
      siOptions: # Node name is not important or used anywhere. However, the following three lines are required (order unimportant as long as they are descendents of this node)
        filename: "SiStripDetector.geo" # Filename of file to change
        lineNumber: 22 # Line numer to change
        contents: [[["For I 60"]], [[1,2]], [1,10,5]] # Standard format of line contents. Each element in the overall list will be separated by a space in the final document. Each sub-list may be in one of two formats: a double list of literals to use (eg. [["literal","values","to","use"]]) or an iterative list (eg [initial value, final value, step value]). The former are treated as strings, the latter are treated as doubles.
      1:
        filename: "ACDDetector.geo"
        lineNumber: 27
        contents: [[["topACDPanel.Shape BRIK 52.5 52.5"]],  [[0.5,0.7,1]]]

  cosima: # Optional, comment out or remove entire blcok if oyu wish to remove.
    filename: "run.source" # Base filename is required if cosima section is present. Otherwise a parser error will be thrown
    parameters: # Optional
      0: # Node name is unimportant. Note that the below options will only alter existing lines in the source file, they will not add additional lines as that would create undefined behavior  
        source: "Pos" # Single string for source name, required if any other options are present.
        beam: [[["FarFieldPointSource"]],[0,180,10],[0,360,10]] # Standard format for everything after "<Source>.Beam ". Optional.
        spectrum: [[["Mono"]],[[31,100,316,1000,3162,10000,31622,100000,316228,1000000,3162277,10000000]]] # Standard format for everything after "<Source>.Spectrum ". Optional.
        flux: [[[1000]]] # Standard format for everything after "<Source>.Flux ". Optional
        polarization: [[["true"]],[[1.0]],[[0.0]],[[0.0]],[[1.0]]] # Standard format for everything after "<Source>.Polarization ". Optional.
